.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    padding: 25px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
    max-width: 60%;
}



.opened {
    pointer-events: auto;
    opacity: 1;
    z-index: var(--modal-z-index);

    .content {
        transform: scale(1);
        z-index: var(--modal-z-index);
    }
}

.isClosing {
    .content {
        transform: scale(0.2);
    }
}

.btn {
    display: flex;
    // align-items: center;
    // text-align: center;
    // padding: 3px 3px 3px 5px;
    margin-left: auto;
    margin-top: 0;
    margin-right: 10px;
    font-size: var(--font-size-l);


    border-radius: 50px;
    border: 1.4px var(--accent-color-4) solid;
    stroke: var(--accent-color-4);
}
    

.field {
    margin-bottom: 10px;
}

