

.header { 
    // max-width: 1050px;
    // margin-left: auto;
    // margin-right: auto;
    padding: 30px 40px;
    color: var(--accent-color-4);
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 35px;
    background-color: var(--background);
}