.Button {
    cursor: pointer;
    color: var(--bg-color-btn);
    padding: 10px 15px;
    letter-spacing: 2px;
}

.Button:active {
    transform: translateY(4px);
}

.clear,
.clearInverted {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.clearInverted{
    color: var(--inverted-primary-color);
}



.x {
    color: var(--primary-color);
    background: none;
    
}


//---------------------------------------------------
.outline { 
    background: none;
    margin: 30px;
    height: auto;
    position: relative;
    box-shadow: 
        0 -4px 0 0 var(--btn-color-2),   /* верхняя линия */
        0 7px 0 0 var(--btn-color-3),    /* нижняя линия */
        -4px 0 0 0 var(--btn-color-1),   /* левая линия */
        5px 0 0 0 var(--btn-color-3);    /* правая линия */
    color: var(--btn-color-2);

}

//---------------------------------------------------




.background {
    background: var(--bg-color);
    color: var(--primary-color);
    border: none;
}

.backgroundInverted {
    background: var(--secondary-bg-color);
    color: var(--inverted-primary-color);
    border: none;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}