

.Sidebar {
    // height: calc(100vh - var(--navbar-height) - 70px);
    height: 100vh;
    height: 100dvh;
    height: -webkit-fill-available;
   
    // Добавляем flexbox для правильного расположения
    display: flex;
    flex-direction: column;


    width: var(--sidebar-width);
    position: relative;
    transition: width 0.3s;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 35px;
    background-color: var(--accent-color-1);
    z-index: 10;

    @media (max-width: 830px) {
        margin-left: 10px;
        width: calc(var(--sidebar-width) - 20px);
    }
    @media (max-width: 480px) {
        margin-top: 20px;
        margin-bottom: 20px;
        height: calc(100vh - var(--navbar-height) - 40px);
        width: calc(var(--sidebar-width) - 60px);
    }
}



.switchers {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    stroke: var(--accent-color-4);
}

.btnWrap {
    display: flex;
    // position: absolute;
    width: 100%;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;

    @media (max-width: 480px) {
        padding-top: 15px;
    }
    @media (max-width: 380px) {
        padding-top: 5px;
    }
}

.collapseBtn {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    // right: -32px;
    // bottom: 22px;
    color: var(--accent-color-4);
    font-weight: 200;

    z-index: 1000;
}

.items {
    margin-top: 20px;
    // margin-left: auto;
    display: flex;
    flex-direction: column;

}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
    text-align: center;

    @media (max-width: 480px) {
        margin-top: 5px;
    }
}

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    stroke: var(--primary-color);
}


.collapsed {
    width: var(--sidebar-width-collapsed);

    .switchers {
        flex-direction: column;
        // align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
        // height: 48px;
    }

    @media (max-width: 830px) {
        width: calc(var(--sidebar-width-collapsed) - 30px) !important;
    }
    @media (max-width: 480px) {
        width: calc(var(--sidebar-width-collapsed) - 40px) !important;
    }
}






// /* ФИКС ТОЛЬКО для мобильных Яндекс.Браузера */
// @media (max-width: 768px) {
//     .Sidebar {
//         /* Для нормальных браузеров */
//         height: calc(100vh - var(--navbar-height) - 70px);
        
//         /* Для Яндекс.Браузера */
//         height: calc(var(--mobile-height, 100vh) - var(--navbar-height) - 70px) !important;
//     }
    
//     @media (max-width: 480px) {
//         .Sidebar {
//             height: calc(var(--mobile-height, 100vh) - var(--navbar-height) - 40px) !important;
//         }
//     }
// }