.WishesByList {
    max-width: 1200px;
    margin: 20px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr)); // всегда три колонки
    gap: 30px;
    // padding: 0 20px; 

    @media (max-width: 1100px) {
        grid-template-columns: repeat(2, minmax(280px, 1fr)); // на планшете — две
    }
    
      @media (max-width: 715px) {
        grid-template-columns: 1fr; // на мобилке — одна

    }
}

.WishList {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 0 20px;
    
    @media (max-width: 715px) {
        padding: 0 50px;
    }
    @media (max-width: 550px) {
        padding: 0 20px;
    }
}

.wrapper {
    display: grid ; /* или flex */
    width: 100%;
    max-width: 100%;
    gap: 30px;

    justify-items: center; // ← ЦЕНТРИРУЕМ ЭЛЕМЕНТЫ ПО ГОРИЗОНТАЛИ
    align-items: start;    // ← ВЫРАВНИВАЕМ ПО ВЕРХНЕМУ КРАЮ

    grid-template-columns: repeat(3, minmax(280px, 1fr));
    @media (max-width: 1100px) {
        grid-template-columns: repeat(2, minmax(280px, 1fr)); // на планшете — две
    }
    
      @media (max-width: 715px) {
        grid-template-columns: subgrid; 
        justify-items: center;
    }
}

.wrap {
    position: relative;
    width: 100%;
    // max-width: 400px;
    min-width: 200px;
}

.pin {
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: var(--pin);
    border-radius: 8px;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 70%;
}

.pin svg {
    stroke: var(--accent-color-4);
    width: 30px;
    height: 30px;
}

.empty {
    padding: 30px 40px 0 40px;
    @media (max-width: 830px) {
        padding: 20px 30px 0 30px;
    }
    @media (max-width: 480px) {
        padding: 15px 20px 0 20px;
    }
}



.skeleton {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 20px 20px;
    
    @media (max-width: 715px) {
        padding: 20px 50px;
    }
    @media (max-width: 550px) {
        padding: 20px;
    }
}

.wrapperSceleton {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;

    @media (max-width: 715px) {
        grid-template-columns: subgrid; 
    }
}

.sceletonLi {
    height: 300px;
    width: 100%;

    @media (max-width: 715px) {
        height: 270px;
    }
}