.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    margin-top: 30px;

    @media (max-width: 1150px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    @media (max-width: 620px) {
        margin-left: 0;
        margin-right: 0;
    }    
    @media (max-width: 620px) {
        margin-left: 10px;
        margin-right: 10px;
    }
    @media (max-width: 380px) {
        margin-left: 0;
        margin-right: 0;
    }
}



.wrapperListFr {
    // display: block;
    border-radius: 35px;
    border: 1.4px var(--accent-color-3) solid;
    color: var(--accent-color-4);
    background: linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 40%);
    transition: 0.2s;
    margin-bottom: 35px;
}

.text {
    color: var(--accent-color-4);
    
    @media (max-width: 1150px) {
        margin: 0 20px;
    }
}

.wrapperText {
    max-width: 900px;
    display: flex;
    padding: 7px 30px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 35px;
    color: var(--accent-color-3);

    //ТЕНЬ
    box-shadow: 1px 9px 14px 12px var(--shadow);

    @media (max-width: 1150px) {
        margin: 0 40px;
    }
    @media (max-width: 830px) {
        font-size: 14px !important;
    }
    @media (max-width: 620px) {
        margin: 0 20px;
        font-size: 12px !important;
    }
    @media (max-width: 380px) {
        margin: 0 10px;
    }
}