.panel {
    background: var(--secondary-listbox-bg);
    position: absolute;
    z-index: 10000;
    border-radius: 25px;
    padding: 12px;
    margin-top: 15px;
}

// .bell {
//     height: 26px;
//     margin-left: 26px;
// }