.Wrapper {
    display: flex;
}

.label {
    margin-right: 10px;
    margin-top: 3px;
    color: var(--primary-color);
    font-weight: 800;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 5px 20px 5px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    margin-right: 22px;
}

.option {
    color: var(---primary-color);
    background: var(--white-black);
}
