.Wrapper {
    display: flex;

    &.error {
        .label {
            color: var(--error-color);
        }
        
        .select {
            border: 2px solid var(--error-color);
            box-shadow: 0 0 0 2px var(--error-light);
            
            &:focus {
                border-color: var(--error-color);
                box-shadow: 0 0 0 2px var(--error-light);
            }
        }
    }
}

.label {
    margin-right: 10px;
    margin-top: 3px;
    color: var(--primary-color);
    font-weight: 800;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    padding: 5px 20px 5px 15px;
    border: 1px solid var(--primary-color);
    border-radius: 40px;
    margin-right: 22px;

    &:focus {
        outline: none;
        border-color: var(--primary-color);
        box-shadow: 0 0 0 2px var(--primary-light);
    }
    
    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}

.option {
    color: var(---primary-color);
    background: var(--white-black);
}
