


.app_dark_theme {
    --img: url("https://api.neuro-holst.ru/api/v1/image/share/render/emPK1Kxx6oqX");
    --bg-color: rgb(65,69,106);
    --secondary-bg-color: rgb(254,234,215);

    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(0, 0, 0);

    --inverted-primary-color: rgb(65,69,106);
    --inverted-secondary-color: rgb(2,3,68);

    --bg-color-modal: rgb(254,234,215);

    --bg-color-btn: rgb(15, 16, 91);
    --inverted-bg-color-btn: rgb(186, 102, 100);
    --bg-color-darker: rgb(76, 80, 117);

    --border-first: rgb(65,69,106);
    --inverted-border-first: rgb(186, 102, 100);

    --btn-color-1: rgb(220, 223, 249);
    --btn-color-2: rgb(152, 160, 220);
    --btn-color-3: rgb(41, 48, 100);


    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;
}

