.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--secondary-bg-color);

    display: flex;
    align-items: center;
    padding: 20px 30px;
}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
    text-align: center;
}


.mainLink {
    margin-right: 15px;
}

.links button {
    // margin-left: 30px;
}

.avatar {
    // align-items: center;
    height: 40px;

    margin-top: 5px;
    margin-left: 30px;
    
    border-radius: 50px;
    // background: red;
    object-fit: cover;

}
