.Page {
    flex-grow: 1;
    padding: 30px 30px 45px 130px;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;


    flex-shrink: 100;
    // width: 100%;

    @media (max-width: 830px) {
        padding: 30px 10px 20px 75px;
    }
    @media (max-width: 480px) {
        padding: 20px 10px 20px 60px;
    }


    /* 🔧 ФИКС ДЛЯ ЯНДЕКС.БРАУЗЕРА НА МОБИЛЬНЫХ */
    @media (max-width: 768px) {
        .yandex-browser & {
            height: calc(var(--mobile-height, 100vh) - var(--navbar-height)) !important;
            max-height: calc(var(--mobile-height, 100vh) - var(--navbar-height)) !important;
        }
    }
}

// .trigger {
//     height: 20px;
//     margin: 10px;
// }