.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    // padding-bottom: 30px;

    @media (max-width: 1100px) {
        margin-left: 20px;
        margin-right: 20px;
    }
    // @media (max-width: 620px) {
    //     margin: 0 20px;
    // }
}

.wrapperText {
    max-width: 900px;
    display: flex;
    padding: 7px 30px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 35px;
    color: var(--accent-color-3);

    //ТЕНЬ
    box-shadow: 1px 9px 14px 12px var(--shadow);

    @media (max-width: 1150px) {
        margin: 0 40px;
    }
    @media (max-width: 830px) {
        font-size: 14px !important;
    }
    @media (max-width: 620px) {
        margin: 0 20px;
        font-size: 12px !important;
    }
    @media (max-width: 380px) {
        margin: 0 10px;
    }
}

.wrapperListFr {
    display: flex;
    overflow-x: auto; 
    overflow-y: hidden; 
    white-space: nowrap;
    padding: 0 10px;
    overflow: auto;
    border-radius: 35px;
    color: var(--accent-color-4);
    transition: 0.2s;
    margin: 20px;

    //ТЕНЬ
    box-shadow: 1px 9px 14px 12px var(--shadow);

    @media (max-width: 730px) {
        margin: 20px 0;
    }
}
// 
    
.text {
    color: var(--accent-color-4);
    
    @media (max-width: 1150px) {
        margin: 0 20px;
    }
}

.blockFr {
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    border: 1.4px var(--accent-color-1) solid;
    padding: 5px;
}

.img {
    display: flex;
    height: 100px;
    width: 100px;
    margin: 15px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 30px;
    border: 1.4px var(--accent-color-1) solid;
    padding: 5px;

    @media (max-width: 830px) {
        margin: 15px 8px 15px 8px;
    }
    @media (max-width: 480px) {
        height: 80px;
        width: 80px;
    }
}



::-webkit-scrollbar {
    height: 8px ; /* ширина нового скроллбара */
    // width: 100px;
}       

// ::-webkit-scrollbar-track {
//     background: var(--glass-background); /* цвет фона у дорожки */
//     box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset; /* тень у дорожки */
// }   
 
::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color); /* цвет фона у дорожки */
    border-radius: 10px; /* скругление углов */
    border: 2px solid var(--glass-background); /* толщина, стиль и цвет рамки */
    
}

::-webkit-scrollbar-thumb:hover {
    background: var(--highlighting-one); /* ползунок меняет цвет при наведении */
}